# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/
project/target/
.idea/
.bloop/
.metals/
out/
lib/*.zip
out/
**/*.class
**/*.log
lib/*
!lib/scalaswingContrib.jar

